{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">


<input type="checkbox" id="toggle" />
    <div class = 'nav-box-left'>
        <label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu" onclick></label>
	<ul class="menu">
	    <li><a id = 'to_demand' href="{% url 'demand' %}">Demand</a></li>
	    <li><a id = 'to_supply' href="{% url 'supply' %}">Supply</a></li>
	</ul>
    </div>
    <div class = 'nav-box-right' >
       <img class = 'nav-box-right-button' src={% static 'navbar/list.png'%}/>

    <ul class = 'menu-right'>
        <li><a id = 'to_register' href="{% url 'register' %}">Register</a></li>
        <li><a id = 'to_login' href="{% url 'login' %}">Log in</a></li>
        <li><a id = 'to_logout' href="{% url 'logout' %}">Log out</a></li>
    </ul>
    </div>

{% block content %}
{% endblock %}