/*
 * Navigataur: A pure CSS responsive navigation menu
 * Author: Mike King (@micjamking)
 */

/*
 	Notes:

 	- Media queries should be edited in both style sections if you require
	  a different breakpoint for your navigation.

	- Toggle class & menu anchor tags in list items have box-sizing: border-box
	  style property to allow padding inside the container without conflicting with layout.
*/


/*--------------------------------
 Functional Styles (Required)
---------------------------------*/

.header { position: relative; }
#toggle, .toggle { display: none; }
.menu > li { list-style: none; float:left;width:100%}
.menu-right > li{list-style: none; float:left;}

.nav-box-left{
	height: 10%;

	float: left;
}
.nav-box-right{
	float: right;
	width:20%;
}
.nav-box-right-button{
	position: relative;
	display: block;
	height:30px;
	width:30px;
	float: right;
	margin: 10px;
	padding :20px;
	overflow:hidden;
}

.menu-right{
	position:absolute;
	top:20px;
	right:0%;
	float: right;
	display: none;
	background-color: rgba(256,256,256,0.5);
}

.nav-box-right:hover .menu-right {
	display: inline-block;
	text-align: right;
	width : 8%;
	height: inherit;
	animation-name: changeDisplay;
	animation-duration: 1s ;
	transition: ease-in-out 0.2s;
	animation-fill-mode: forwards;
}

.nav-box-right:hover .nav-box-right-button{
	animation-name: fadeaway;
	animation-duration: 0.5s ;
	transition: ease-in-out 0.3s;
	animation-fill-mode: forwards;
}

@keyframes changeDisplay {
	0%{
		height:20%;
		opacity: 0;
		visibility: hidden;
	}
	100%{
		visibility: visible;
		opacity: 1;
		height:20%;
	}
}
@keyframes fadeaway {
	0%{
		transform: translateX(0px) translateY(0px) rotate(90deg);
		height:30px;
		width: 30px;
	}
	100% {
		transform: translateX(40px) translateY(-1px) ;

		height: 0;
		width: 0;

	}

}


.menu > li > a{
	display: block;
	margin-top: 10px;
	padding :10px;
	text-decoration: none;
	font-weight: normal;
	font-size: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	color :black;
}

.menu-right > li > a{
	display: block;

	margin-top: 10px;
	padding :10px;
	text-decoration: none;
	font-weight: normal;
	font-size: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
	color :black;

}
.menu-right > li > a:hover, .menu-right > li > a:focus{
	color: white;
}
.menu > li > a:hover, .menu > li > a:focus{
	color: white;
}

.toggle{
	z-index: 2;
}